In [2]:
import pandas
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [3]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [4]:
#Series

import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [5]:
#Label

import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [6]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [11]:
#Data Frame
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [13]:
#CSV
import pandas as pd

df = pd.read_csv('/home/ksb/Downloads/day.csv')

print(df.to_string())

    Numeric  Numeric-2 Numeric-Suffix
0         1          1            1st
1         2          2            2nd
2         3          3            3rd
3         4          4            4th
4         5          5            5th
5         6          6            6th
6         7          7            7th
7         8          8            8th
8         9          9            9th
9        10         10           10th
10       11         11           11th
11       12         12           12th
12       13         13           13th
13       14         14           14th
14       15         15           15th
15       16         16           16th
16       17         17           17th
17       18         18           18th
18       19         19           19th
19       20         20           20th
20       21         21           21st
21       22         22           22nd
22       23         23           23rd
23       24         24           24th
24       25         25           25th
25       26         26           26th
26       27         27           27th
27       28         28           28th
28       29         29           29th
29       30         30           30th
30       31         31           31st

In [14]:
import pandas as pd

print(pd.options.display.max_rows)

60

In [17]:


pd.options.display.max_rows = 9999

df = pd.read_csv('/home/ksb/Downloads/day.csv')

print(df)

    Numeric  Numeric-2 Numeric-Suffix
0         1          1            1st
1         2          2            2nd
2         3          3            3rd
3         4          4            4th
4         5          5            5th
5         6          6            6th
6         7          7            7th
7         8          8            8th
8         9          9            9th
9        10         10           10th
10       11         11           11th
11       12         12           12th
12       13         13           13th
13       14         14           14th
14       15         15           15th
15       16         16           16th
16       17         17           17th
17       18         18           18th
18       19         19           19th
19       20         20           20th
20       21         21           21st
21       22         22           22nd
22       23         23           23rd
23       24         24           24th
24       25         25           25th
25       26         26           26th
26       27         27           27th
27       28         28           28th
28       29         29           29th
29       30         30           30th
30       31         31           31st